@define-color foreground #f1e3c6;
@define-color background #090908;
@define-color cursor #f1e3c6;

@define-color color0 #090908;
@define-color color1 #797462;
@define-color color2 #867A5E;
@define-color color3 #94886B;
@define-color color4 #AC9973;
@define-color color5 #CEAC78;
@define-color color6 #CFB789;
@define-color color7 #f1e3c6;
@define-color color8 #a89e8a;
@define-color color9 #797462;
@define-color color10 #867A5E;
@define-color color11 #94886B;
@define-color color12 #AC9973;
@define-color color13 #CEAC78;
@define-color color14 #CFB789;
@define-color color15 #f1e3c6;

* {
  border: none;
  border-radius: 0;
  font-family: 'Overpass Mono';
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
  background: @background;
}

window#waybar {
  background: red;
  color: #d3dfeb;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 1px;
  color: @color2;
  margin-right: 5px;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
  background: #975152;
}

#workspaces button.urgent {
  color: red;
  background: red;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @color2;
  color: @foreground;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#custom-spacer,
#custom-pisces-and-etc,
#memory {
  background: @background;
  color: @color2;
  padding: 1px;
  margin: 1px;
}

#battery.warning {
  color: yellow;
}

#battery.critical {
  color: red;
}

#workspaces {
  background: @background
}


#window {
  margin-left: 25px;
  margin-right: 25px;
}

#clock {
  color: @color2;
  border-radius: 10px 0px 0px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: @color2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: @color2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @color2;
  margin-right: 5px;
  border-radius: 0 10px 10px 0;
}
