@define-color foreground #c59da2;
@define-color background #0b090d;
@define-color cursor #c59da2;

@define-color color0 #0b090d;
@define-color color1 #271D47;
@define-color color2 #32254F;
@define-color color3 #2C2554;
@define-color color4 #4C2F51;
@define-color color5 #5C355F;
@define-color color6 #6C465D;
@define-color color7 #c59da2;
@define-color color8 #896d71;
@define-color color9 #271D47;
@define-color color10 #32254F;
@define-color color11 #2C2554;
@define-color color12 #4C2F51;
@define-color color13 #5C355F;
@define-color color14 #6C465D;
@define-color color15 #c59da2;

* {
  border: none;
  border-radius: 0;
  font-family: 'Overpass Mono';
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
  background: @background;
}

window#waybar {
  background: red;
  color: #d3dfeb;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 1px;
  color: @color2;
  margin-right: 5px;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
  background: #975152;
  /* border-radius: 10px; */
}

#workspaces button.urgent {
  color: red;
  background: red;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @color2;
  color: @foreground;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#cpu,
#custom-spacer,
#custom-pisces-and-etc,
#memory {
  background: @background;
  color: @color2;
  padding: 1px;
  margin: 1px;
  /* border: 1px solid #181825; */
}

#workspaces {
  background: @background
}


#window {
  /* border-radius: 10px; */
  margin-left: 25px;
  margin-right: 25px;
}

#clock {
  color: @color2;
  border-radius: 10px 0px 0px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: @color2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: @color2;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @color2;
  margin-right: 5px;
  border-radius: 0 10px 10px 0;
}
